

.header{
    background-color: var(--clr-blue);
    color: #fff;
}

.header a{
    color: #fff;
}


.header_top{

}
.header_title{

}
.header_rates{

}
.header_items{
   
}
.header_item{
    border-bottom: 1px solid #fff;
    padding-top: 20px;
   
    padding-right: 20px;
    transition: 0.3s;
 

}

.header_item a{
    font-size: 16px;
  
    display: block;
    margin-right: 20px;
    transition: 0.3s ease;
    padding: 20px 20px 20px 0;
    font-weight: bold;
  
}
.header_item:hover{
 
}

.header_item:hover  a{
    background-color: #fff;
    color: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}
.header_item svg{
    margin-left: 10px;
    font-weight: bold;
}
